@charset "utf-8";

.header{
	height: 40px;
	background-color: #00684a;
		color: #fff;
}

.header-title{
	font-size: 16px;
	padding-top: 12px;

}

.main {
	background-image: url(binder.jpg);
	margin: 100px, 100px;
	background-repeat: no-repeat;
	width: 960px,
}


.inner {
	width: 600px;
<<<<<<< HEAD
	margin-left: 500px;
}

.photo {
	width: 600px;
	margin-left: 120px
	margin-top: 200px;
}

.inner-photo {
	width: 600px;
	margin-left: 120px
	margin-top: 200px;
}
=======
	margin-left: 100px;
}

.footer{
	background-color: #00684a;
	color: #fff;
}

.copyright{
	font-size: 12px;
	text-align: right;
}

>>>>>>> b495366c8e795418aa8f58ecdfc777a017a9f14f
